# Entornos virtuales
venv/
.venv/
ENV/
env/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
forenhub.db
forenhub.db-shm
forenhub.db-wal

# Archivos de configuración de entorno
.env
.env.*

# Archivos subidos
/instance/uploads/*

/app/static/avatars/*
/app/static/spectrograms/*