# Entornos virtuales
venv/
.venv/
ENV/
env/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
forenalyze.db
forenalyze.db-shm
forenalyze.db-wal

# Archivos de configuración de entorno
.env
.env.*

yara-signature-base/

# Archivos subidos
/instance/uploads/*

/app/static/avatars/*
/app/static/spectrograms/*